.about-partner .partner-content {
  margin-right: 120px;
  margin-left: 0;
}
.about-partner .partner-content .source {
  width: 100%;
  height: 551px;
  margin-top: 40px;
  position: relative;
}
.about-partner .partner-content .source .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding: 80px 60px 28px 60px;
  overflow-y: auto;
  box-sizing: border-box;
  text-align: center;
  background: #f8f7f5;
}
.about-partner .partner-content .source .left h3 {
  margin-bottom: 70px;
  font-size: 32px;
  color: #333;
  letter-spacing: 0.2em;
}
.about-partner .partner-content .source .left .info {
  height: 265px;
  overflow-y: auto;
}
.about-partner .partner-content .source .left p {
  font-size: 16px;
  color: #333;
  line-height: 33px;
  text-indent: 32px;
  text-align: left;
}
.about-partner .partner-content .source .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 551px;
}
.about-partner .partner-content .source .right .img {
  width: 100%;
  height: 100%;
}
.about-partner .partner-content .source .right .img img {
  width: 100%;
}
.about-partner .partner-content .source .right .down-load {
  position: absolute;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  margin-left: -126px;
  margin-top: -120px;
}
.about-partner .partner-content .source .right .down-load .inner a {
  display: block;
  width: 130px;
  height: 100%;
  padding: 45px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}
.about-partner .partner-content .source .right .down-load .inner a img {
  width: 130px;
  margin-bottom: 10px;
}
.about-partner .partner-content .introduce {
  margin: 23px;
  padding-top: 67px;
  text-align: center;
  background: url(../images/zsbj.png) left top #eee no-repeat;
  background-size: 100% auto;
}
.about-partner .partner-content .introduce h3 {
  display: inline-block;
  padding: 7px 20px;
  margin-bottom: 15px;
  font-size: 32px;
  color: #333;
  border: 1px solid #333;
}
.about-partner .partner-content .introduce .des {
  margin-bottom: 80px;
  font-size: 16px;
  color: #888;
}
.about-partner .partner-content .introduce .steps {
  padding-bottom: 100px;
  font-size: 0;
}
.about-partner .partner-content .introduce .steps li {
  position: relative;
  display: inline-block;
  padding-right: 100px;
  font-size: 20px;
  color: #555;
}
.about-partner .partner-content .introduce .steps li:last-child {
  padding-right: 0;
}
.about-partner .partner-content .introduce .steps li .next {
  position: absolute;
  right: 10px;
  top: 40%;
}
.about-partner .partner-content .advance {
  position: relative;
  height: 551px;
  background: url(../images/advancebg.png) right bottom #eeece7 no-repeat;
}
.about-partner .partner-content .advance .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}
.about-partner .partner-content .advance .left img {
  width: 100%;
  height: 100%;
}
.about-partner .partner-content .advance .right {
  position: absolute;
  width: 50%;
  height: 551px;
  text-align: center;
  right: 0;
  top: 0;
  padding-top: 140px;
  box-sizing: border-box;
}
.about-partner .partner-content .advance .right .advantages {
  font-size: 0;
  text-align: center;
}
.about-partner .partner-content .advance .right .advantages li {
  display: inline-block;
  width: 30px;
  vertical-align: top;
  margin-right: 15px;
  font-size: 20px;
  color: #333;
}
.about-partner .partner-content .advance .right .advantages li:last-child {
  margin-left: 30px;
  padding: 5px 15px;
  font-size: 32px;
  border: 1px solid #333;
}
.about-partner .partner-content .advance .right .decor {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}
.about-partner .partner-content .map {
  margin: 23px;
}
.about-partner .partner-content .map img {
  width: 100%;
}
@media screen and (min-width: 640px) and (max-width: 980px) {
  .about-partner .partner-content {
    margin-right: 0;
  }
  .about-partner .partner-content .source {
    margin-top: 0;
    height: 1030px;
  }
  .about-partner .partner-content .source .left {
    position: static;
    width: 100%;
    padding-top: 30px;
  }
  .about-partner .partner-content .source .left h3 {
    margin-bottom: 60px;
  }
  .about-partner .partner-content .source .right {
    position: static;
    width: 100%;
  }
  .about-partner .partner-content .source .right .down-load {
    top: 75%;
  }
  .about-partner .partner-content .introduce {
    margin: 15px;
    background: url('../images/zsbj2.png') left top no-repeat;
    background-color: #eee;
  }
  .about-partner .partner-content .introduce .steps {
    position: relative;
    text-align: left;
    height: 680px;
    background: url('../images/zsbj1.png') right bottom no-repeat;
  }
  .about-partner .partner-content .introduce .steps li {
    width: 50%;
    margin-bottom: 100px;
    min-height: 195px;
    text-align: center;
    box-sizing: border-box;
  }
  .about-partner .partner-content .introduce .steps li:nth-of-type(2) .next,
  .about-partner .partner-content .introduce .steps li:nth-of-type(3) .next,
  .about-partner .partner-content .introduce .steps li:nth-of-type(4) .next {
    display: none;
  }
  .about-partner .partner-content .introduce .steps li:nth-of-type(2):after,
  .about-partner .partner-content .introduce .steps li:nth-of-type(4):after {
    position: absolute;
    top: 176px;
    left: 130px;
    width: 10px;
    height: 60px;
    content: '';
    background: url('../images/vet-next.png') center no-repeat;
  }
  .about-partner .partner-content .introduce .steps li:nth-of-type(3) {
    position: absolute;
    right: 0;
    top: 255px;
  }
  .about-partner .partner-content .introduce .steps li:nth-of-type(3):before {
    position: absolute;
    top: 46px;
    left: -69px;
    width: 60px;
    height: 10px;
    content: '';
    background: url('../images/hor-next.png') center no-repeat;
  }
  .about-partner .partner-content .introduce .steps li:nth-of-type(4) {
    position: absolute;
    left: 0;
    top: 255px;
  }
  .about-partner .partner-content .introduce .steps li:nth-of-type(5) {
    position: absolute;
    left: 0;
    padding-right: 100px;
    top: 555px;
  }
  .about-partner .partner-content .introduce .steps li img {
    margin-bottom: 30px;
  }
  .about-partner .partner-content .advance {
    height: 1160px;
  }
  .about-partner .partner-content .advance .left {
    width: 100%;
    position: static;
  }
  .about-partner .partner-content .advance .right {
    position: static;
    width: 100%;
  }
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
  .about-partner .partner-content {
    margin-right: 0;
  }
  .about-partner .partner-content .source {
    height: 430px;
  }
  .about-partner .partner-content .source .left {
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 40px;
    padding-bottom: 82px;
  }
  .about-partner .partner-content .source .left h3 {
    margin-bottom: 28px;
  }
  .about-partner .partner-content .source .left .info {
    height: 210px;
  }
  .about-partner .partner-content .source .right .down-load {
    display: none;
  }
  .about-partner .partner-content .introduce {
    padding-top: 20px;
  }
  .about-partner .partner-content .advance {
    height: 396px;
  }
  .about-partner .partner-content .advance .right {
    height: 100%;
    padding-top: 40px;
  }
  .about-partner .partner-content .advance .right .decor {
    bottom: 25px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .about-partner .partner-content .advance {
    height: 427px;
  }
  .about-partner .partner-content .advance .right {
    height: 427px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .about-partner .partner-content .source {
    height: 703px;
  }
  .about-partner .partner-content .source .left {
    padding-top: 135px;
  }
  .about-partner .partner-content .source .left .info {
    height: 270px;
    margin-bottom: 155px;
  }
  .about-partner .partner-content .source .right {
    height: 703px;
  }
  .about-partner .partner-content .advance {
    height: 700px;
  }
  .about-partner .partner-content .advance .right {
    height: 700px;
    padding-top: 150px;
    box-sizing: border-box;
  }
  .about-partner .partner-content .advance .right .decor {
    bottom: 80px;
  }
}
