.about-chenxiang {
  overflow: hidden;
}
.about-chenxiang .page-top {
  position: relative;
}
.about-chenxiang .top-info {
  height: 100%;
}
.about-chenxiang .introduction {
  padding-left: 0;
}
.about-chenxiang .introduction .part {
  padding-left: 110px;
}
.about-chenxiang .introduction .part video {
  width: 100%;
  margin-bottom: 60px;
}
.about-chenxiang .introduction .part .title {
  margin-bottom: 5px;
  font-size: 32px;
  color: #020202;
}
.about-chenxiang .introduction .part .en-title {
  margin-bottom: 40px;
  font-size: 14px;
  color: #a3a3a3;
  text-align: center;
}
.about-chenxiang .introduction .part.mt105 {
  margin-top: 105px;
}
.about-chenxiang .introduction .part.pb110 {
  padding-bottom: 110px;
}
.about-chenxiang .introduction .part .shadow {
  width: 99%;
  height: 99%;
}
.about-chenxiang .introduction .part .left {
  max-width: 902px;
  height: 721px;
  margin-left: 60px;
}
.about-chenxiang .introduction .part .left img {
  width: 100%;
}
.about-chenxiang .introduction .part .right {
  position: absolute;
  top: 0;
  width: 30.7%;
  right: 70px;
}
.about-chenxiang .introduction .part .right .mt39 {
  margin-top: 39px;
}
.about-chenxiang .introduction .part .right img {
  width: 556px;
  height: 338px;
}
.about-chenxiang .introduction .part .gray {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 460px;
  width: 100%;
  background: #eaeaea;
  z-index: -1;
}
@media screen and (min-width: 640px) and (max-width: 980px) {
  .about-chenxiang .introduction {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .about-chenxiang .introduction .part {
    padding-left: 0;
  }
  .about-chenxiang .introduction .part.pb110 {
    padding-bottom: 60px;
  }
  .about-chenxiang .introduction .part img {
    width: auto;
    height: 390px;
  }
  .about-chenxiang .introduction .part .text {
    height: 100%;
    left: 70px;
    top: 30px;
    overflow: hidden;
  }
  .about-chenxiang .introduction .part .text li {
    padding: 0 15px;
  }
  .about-chenxiang .introduction .part .text li:first-child {
    display: none;
  }
  .about-chenxiang .introduction .part .left {
    width: 353px;
    height: 281px;
    margin-left: 25px;
  }
  .about-chenxiang .introduction .part .left img {
    height: 100%;
  }
  .about-chenxiang .introduction .part .right .mt39 {
    margin-top: 15px;
  }
  .about-chenxiang .introduction .part .right img {
    width: 217px;
    height: 132px;
  }
  .about-chenxiang .introduction .part .gray {
    height: 272px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
  .about-chenxiang .introduction {
    padding-right: 0;
  }
  .about-chenxiang .introduction .part {
    padding-left: 20px;
  }
  .about-chenxiang .introduction .part.min-pr15 {
    padding-right: 15px;
  }
  .about-chenxiang .introduction .part .left {
    margin-left: 0;
    height: 435px;
  }
  .about-chenxiang .introduction .part .left img {
    width: 544px;
    height: 435px;
  }
  .about-chenxiang .introduction .part .right .mt39 {
    margin-top: 25px;
  }
  .about-chenxiang .introduction .part .right img {
    width: 335px;
    height: 204px;
  }
  .about-chenxiang .introduction .part .gray {
    height: 430px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1910px) {
  .about-chenxiang .introduction .part {
    padding-left: 15px;
  }
  .about-chenxiang .introduction .part .left {
    height: auto;
  }
  .about-chenxiang .introduction .part .left img {
    width: 548px;
    height: 439px;
  }
  .about-chenxiang .introduction .part .right img {
    width: 338px;
    height: 206px;
  }
  .about-chenxiang .introduction .part .right .mt39 {
    margin-top: 25px;
  }
  .about-chenxiang .introduction .part .gray {
    height: 416px;
  }
}
@media screen and (min-width: 1910px) {
  .about-chenxiang .introduction .part .text {
    top: 45px;
    left: 230px;
  }
  .about-chenxiang .introduction .part .left img {
    width: 902px;
    height: 721px;
  }
  .about-chenxiang .introduction .part .gray {
    height: 694px;
  }
  .about-chenxiang .introduction .part .right img {
    width: 556px;
    height: 338px;
  }
  .about-chenxiang .introduction .link {
    margin-bottom: 65px;
  }
}
