.about-beauty .page-top {
  position: relative;
}
.about-beauty .preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 120px;
  padding-left: 200px;
  margin-right: 120px;
  box-sizing: border-box;
}
.about-beauty .preview .left {
  padding-top: 40px;
  padding-bottom: 50px;
  width: 420px;
  text-align: center;
  background: #000;
}
.about-beauty .preview .left h3 {
  margin-bottom: 25px;
  font-size: 36px;
  color: #fff;
}
.about-beauty .preview .left .new {
  color: #fff;
  font-size: 20px;
}
.about-beauty .preview .left .new span:last-child {
  font-size: 16px;
}
.about-beauty .preview .left .new span:last-child::before {
  display: inline-block;
  content: '';
  width: 1px;
  height: 20px;
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: middle;
  background: #fff;
}
.about-beauty .preview .right {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 420px;
  box-sizing: border-box;
}
.about-beauty .preview .right ul {
  padding-top: 45px;
  padding-left: 55px;
  height: 190px;
  background: #fff;
  box-sizing: border-box;
}
.about-beauty .preview .right ul li {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}
.about-beauty .preview .right ul li .date {
  margin-right: 45px;
}
.about-beauty .preview .right ul li::last-child {
  margin-bottom: 0;
}
.about-beauty .beauty-content {
  margin-right: 120px;
}
.about-beauty .beauty-content .beauty-hole {
  position: relative;
  padding-bottom: 200px;
  padding-top: 110px;
  height: 793px;
  background: #edeef0;
}
.about-beauty .beauty-content .beauty-hole .info {
  position: absolute;
  z-index: 99;
  width: 630px;
  margin-top: 105px;
  padding: 55px 90px 90px 80px;
  box-sizing: border-box;
  background: #edeef0;
}
.about-beauty .beauty-content .beauty-hole .info h3 {
  font-size: 36px;
  color: #5f5f60;
}
.about-beauty .beauty-content .beauty-hole .info .ads {
  font-size: 26px;
  color: #000;
}
.about-beauty .beauty-content .beauty-hole .info .info-content {
  margin-top: 30px;
  height: 200px;
  overflow-y: auto;
  line-height: 30px;
  font-size: 14px;
  color: #000;
}
.about-beauty .beauty-content .beauty-hole .info .tip {
  color: #ac793c;
  font-size: 14px;
}
.about-beauty .beauty-content .beauty-hole .info .link {
  margin-top: 70px;
  text-align: left;
}
.about-beauty .beauty-content .beauty-hole .info .link a {
  background: url(../images/linkbg.png) center no-repeat;
  border: none;
  color: #fff;
  background-size: contain;
}
.about-beauty .beauty-content .beauty-hole .info .link.brown a {
  background: url(../images/linkbgbr.png) center no-repeat;
  border: none;
  color: #fff;
  background-size: contain;
}
.about-beauty .beauty-content .beauty-hole .pic {
  position: absolute;
  top: 110px;
  right: 0;
}
.about-beauty .beauty-content .beauty-hole.dif {
  padding-top: 130px;
  padding-bottom: 0;
  background: #fff;
  height: 550px;
}
.about-beauty .beauty-content .beauty-hole.dif .info {
  padding-bottom: 0;
  padding-top: 38px;
  background: #fff;
}
.about-beauty .beauty-content .beauty-hole.dif .info h3 {
  color: #000;
  font-size: 26px;
}
.about-beauty .beauty-content .beauty-hole.dif .info .info-content {
  font-size: 16px;
  color: #666;
  height: auto;
}
.about-beauty .beauty-content .beauty-hole.dif .info .link {
  margin-top: 15px;
}
.about-beauty .beauty-content .beauty-hole.dif .pic {
  padding-left: 370px;
}
.about-beauty .beauty-content .beauty-hole.dif .pic img {
  width: 100%;
}
.about-beauty .beauty-content .beauty-hole.dif.right {
  padding-top: 0;
  height: 480px;
  box-sizing: border-box;
}
.about-beauty .beauty-content .beauty-hole.dif.right .pic {
  left: 0;
  top: 0;
  padding-right: 350px;
  padding-left: 0;
}
.about-beauty .beauty-content .beauty-hole.dif.right .info {
  margin-top: 0;
  top: 80px;
  right: 0;
}
.about-beauty .beauty-content .beauty-hole.dif.right .info .info-content {
  margin-top: 15px;
}
.about-beauty .beauty-content .beauty-hole.dif.taiji {
  padding-top: 100px;
}
.about-beauty .beauty-content .beauty-hole.dif.taiji .pic {
  padding-left: 508px;
}
.about-beauty .beauty-content .beauty-hole.dif.taiji .info {
  width: 508px;
  margin-top: 0;
  padding-left: 45px;
  padding-right: 30px;
}
.about-beauty .beauty-content .beauty-hole.dif.taiji .info .info-content {
  max-height: 340px;
  overflow-y: auto;
}
.about-beauty .beauty-content .beauty-hole.dif.train {
  padding-top: 100px;
}
.about-beauty .beauty-content .beauty-hole.dif.train .pic {
  padding-right: 508px;
  padding-left: 0;
}
.about-beauty .beauty-content .beauty-hole.dif.train .info {
  width: 508px;
  right: 0;
  margin-top: 0;
  padding-left: 45px;
  padding-right: 30px;
}
.about-beauty .beauty-content .beauty-hole.dif.train .info .info-content {
  max-height: 340px;
  overflow-y: auto;
}
.about-beauty .beauty-content .more-corse {
  margin-top: 98px;
  margin-bottom: 128px;
}
.about-beauty .beauty-content .club {
  padding: 145px 0 145px 70px;
  background: #edeef0;
  font-size: 0;
  text-align: center;
}
.about-beauty .beauty-content .club .left {
  display: inline-block;
  width: 50%;
}
.about-beauty .beauty-content .club .left img {
  width: 100%;
}
.about-beauty .beauty-content .club .right {
  display: inline-block;
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 16px;
  color: #333;
}
.about-beauty .beauty-content .club .right ul {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.about-beauty .beauty-content .club .right li {
  display: inline-block;
  width: 18px;
  height: 100%;
  margin-right: 26px;
  white-space: normal;
  vertical-align: top;
}
.about-beauty .beauty-content .club .right li:first-child {
  margin-right: 30px;
}
.about-beauty .beauty-content .club .right li:first-child a {
  color: #de0606;
}
.about-beauty .beauty-content .club .right li:last-child {
  width: 28px;
  padding: 10px 5px;
  margin-left: 40px;
  font-size: 26px;
  border: 1px solid #666;
}
.about-beauty .beauty-content .shows-wrap {
  margin-right: 70px;
  margin-left: 70px;
  padding: 125px 0;
}
.about-beauty .beauty-content .shows {
  padding: 0 150px;
  font-size: 0;
}
.about-beauty .beauty-content .shows li {
  display: inline-block;
  width: 33%;
  font-size: 14px;
  padding: 0 20px;
  box-sizing: border-box;
}
.about-beauty .beauty-content .shows li img {
  width: 100%;
}
.about-beauty .beauty-content .actives .title {
  text-align: center;
  font-size: 26px;
  color: #333;
}
.about-beauty .beauty-content .actives .title span {
  padding: 10px 15px;
  color: #666;
}
