.about-chenxiang {
    overflow: hidden;
    .page-top {
        position: relative;
    }

    .top-info {
        height: 100vh;
    }

    .introduction {
        width: auto;
        padding-left: 0;
        margin-right: 120px;
        .part {
            .inner{
                padding-left: 15px;
                height: 100%;
                img{
                    width: 100%;
                }
                .text{
                    margin-left: 15px;
                }
            }
            video {
                width: 100%;
                margin-bottom: 60px;
            }

            .title {
                margin-bottom: 5px;
                font-size: 32px;
                color: #020202;
            }

            .en-title {
                margin-bottom: 40px;
                font-size: 14px;
                color: #a3a3a3;
                text-align: center;
            }

            &.mt105 {
                margin-top: 105px;
            }

            &.pb110 {
                padding-bottom: 110px;
            }

            .shadow {
                width: 99%;
                height: 99%;
            }
            &.h727{
                height: 721px;
            }
            .left {
                position: absolute;
                max-width: 902px;
                height: 721px;
                margin-left: 107px;
                z-index: 1;
                img {
                    width: 100%;
                }
            }

            .right {
                position: absolute;
                top: 0;
                width: 30.7%;
                right: 119px;
                z-index: 1;
                .mt39 {
                    margin-top: 39px;
                }

                img {
                    width: 556px;
                    height: 338px;
                }
            }

            .gray {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 693px;
                width: 100%;
                background: #eaeaea;
                z-index: 0;
            }
        }
    }

    // .contact-info {
    //     background: url(../images/chenxiangp1) left top no-repeat；
    // }

    .link {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 980px) {
    .about-chenxiang .introduction .part .inner{
        padding-left: 0;
    }
    .about-chenxiang .introduction .part.h727{
        height: 190px;
    }
    .top-info .logo {
        padding-left: 22px;
        padding-top: 25px;
    }

    .common-introduce .left .left-bottom {
        display: none;
    }

    .common-introduce {
        margin-right: 0;
        padding-right: 10px;
        padding-left: 10px;
    }

    .common-introduce .right {
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
        top: 175px;
    }

    .qulity {
        margin-right: 0;

        .left img {
            width: 100%;
        }
    }

    .qulity .right {
        position: relative;
        width: 100%;
    }

    .about-chenxiang {
        .introduction {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 0;
            padding-top: 15px;
            overflow: hidden;
            box-sizing: border-box;
            box-sizing: border-box;
            .part {
                padding-left: 0;

                &.pb110 {
                    padding-bottom: 60px;
                }

                img {
                    width: auto;
                    height: 390px;
                }

                .text {
                    height: 100%;
                    left: 70px;
                    top: 30px;
                    overflow: hidden;
                    padding-top: 0;

                    li {
                        padding: 0 15px;
                    }

                    li:first-child {
                        display: none;
                    }
                }

                .left {
                    width: 353px;
                    height: 281px;
                    margin-left: 25px;

                    img {
                        height: 100%;
                    }
                }

                .right {
                    .mt39 {
                        margin-top: 15px;
                    }

                    img {
                        width: 217px;
                        height: 132px;
                    }
                }

                .gray {
                    height: 272px;
                }
            }
        }
        .lunbo .flex-direction-nav{
            width: 90%;
            left: 5%;
        }
    }

    .about-chenxiang .introduction .part .text {
        left: 0;
    }

    .introduction .part .text {
        padding-right: 0px;
    }

    .about-chenxiang .introduction .part .text li {
        padding: 0 10px;
    }

    .about-chenxiang .introduction .part .left {
        width: 62%;
        height: auto;
        margin-left: 0px;
    }

    .about-chenxiang .introduction .part .right {
        right: 0;
        width: 36.7%;
    }

    .about-chenxiang .introduction .part .right img {
        width: 100%;
        height: auto;
    }

    .common-introduce .left {
        padding-top: 86px;
        width: 200px;
        margin: 0 auto;
    }
    .about-chenxiang .link{
        padding-bottom: 85px;
    }

    .common-introduce .right {
        padding: 0 10px;
    }
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
    .about-chenxiang {
        .nav-bar{
            position: absolute;
        }
        .introduction {
            padding-right: 0;
            margin-right: 0;
            .part {
                padding-left: 20px;
                &.h727{
                    height: 400px;
                }
                .inner{
                    padding-left: 0;
                    width: 100%;
                    padding-right: 15px;
                    box-sizing: border-box;
                    .text{
                        width: 90%;
                    }
                    img{
                        margin-left: 0;
                        margin-top: 0;
                        width: 100%;
                    }
                }

                .left {
                    margin-left: 0;
                    height: 435px;

                    img {
                        width: 544px;
                        height: 435px;
                    }
                }

                .right {
                    right: 25px;
                    width: auto;
                    .mt39 {
                        margin-top: 25px;
                    }

                    img {
                        width: 335px;
                        height: 204px;
                    }
                }

                .gray {
                    height: 430px;
                }
            }
        }

        .qulity {
            .left {
                img {
                    width: 50%;
                }
            }
            .right{
                height: 370px;
                padding-bottom: 15px;
                box-sizing: border-box;
                overflow: hidden;
                .flex-viewport{
                    height: 100%;
                }
                .lunbo .flex-direction-nav{
                    width: 90%;
                    top: 50%;
                }
            }
        }
    }

    .lunbo .lunbo-box a .title {
        margin-top: 35px;
        margin-bottom: 6px;
    }

    .qulity .left img {
        width: 50%;
    }

    .qulity .right .lunbo .lunbo-box a .text {
        padding-right: 0;
        margin-top: 8px;
    }

    .qulity .right .lunbo .flex-direction-nav {
        top: 30%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .about-chenxiang {
        .introduction {
            padding-right: 0;
            .part {
                padding-left: 0;
                &.h727{
                    height: 430px;
                }
                .inner{
                    padding-right: 15px;
                }
                .left {
                    height: auto;

                    img {
                        width: 548px;
                        height: 439px;
                    }
                }

                .right {
                    right: 73px;
                    img {
                        width: 338px;
                        height: 206px;
                    }

                    .mt39 {
                        margin-top: 25px;
                    }
                }

                .gray {
                    height: 416px;
                }
            }
        }

        .qulity {
            height: 463px;
            .left {
                img {
                    width: 50%;
                }
            }
            .right{
                height: 100%;
                overflow: hidden;
                .title{
                    margin-top: 45px;
                    margin-bottom: 0;
                }
                .text{
                    margin-top: 0;
                }
            }
        }
        .lunbo .flex-direction-nav{
            left: 50px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .introduction .part .left img {
        height: auto;
    }
}