.about-us {
    overflow: hidden;

    .navs {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        a {
            display: inline-block;
            margin-right: 40px;
            color: #cfcfcf;
            font-size: 20px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            span {
                display: block;
            }

            em {
                display: inline-block;
                width: 17px;
                height: 9px;
                background: url(../images/down.png) center no-repeat;
            }
        }
    }

    .brand {
        position: relative;
        margin-left: 23px;
        margin-right: 120px;
        padding-top: 150px;

        .title {
            text-align: center;
            font-size: 32px;
            color: #020202;
            letter-spacing: 0.2em;

            &:before {
                position: absolute;
                top: 0;
                left: 50%;
                content: '';
                width: 1px;
                height: 108px;
                background: #333;
            }
        }

        .sub-title {
            margin-top: 10px;
            margin-bottom: 60px;
            text-align: center;
            font-size: 14px;
            color: #a3a3a3;
        }

        .brand-info {
            position: relative;
            height: 100%;
        }

        .left {
            width: 50%;
            overflow: hidden;

            img {
                width: 100%;
                transition: all 0.6s;
            }

            img:hover {
                transform: scale(1.1);
            }
        }

        .right {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            padding-top: 125px;
            padding-left: 85px;
            padding-right: 155px;
            box-sizing: border-box;
            background: #f9f8f8;

            h3 {
                font-size: 28px;
                color: #bf9a64;
            }

            .des {
                margin-top: 7px;
                margin-bottom: 30px;
                font-size: 18px;
                color: #bf9a64;
            }

            .text-info {
                height: 285px;
                overflow-y: auto;
            }

            p {
                margin-bottom: 30px;
                font-size: 16px;
                color: #333;
            }

            .signature {
                margin-top: 70px;
                margin-bottom: 112px;
                text-align: right;
            }
        }
    }

    .brand-culture {
        margin-top: 55px;
        padding-top: 50px;
        margin-right: 120px;
        background: url(../images/culture.bg.png) left top no-repeat;

        .title-wrap {
            position: relative;
            margin-left: 400px;

            .img {
                position: absolute;
                top: 0;
                left: -70px;
            }
        }

        .title {
            font-size: 32px;
            color: #020202;

            &:after {
                display: inline-block;
                content: '';
                width: 150px;
                height: 1px;
                margin-left: 35px;
                background: #000;
                vertical-align: bottom;
            }
        }

        .en {
            font-size: 18px;
            color: #a3a3a3;
            line-height: 30px;
        }

        .culture-content {
            position: relative;
            height: 595px;
            font-size: 16px;
            color: #020202;
            line-height: 40px;

            .left {
                .sub-title {
                    margin-top: 130px;
                    margin-left: 70px;
                    margin-bottom: 45px;
                    font-size: 26px;
                    color: #020202;
                }

                .info {
                    width: 565px;
                    height: 260px;
                    margin-bottom: 120px;
                    margin-left: 70px;
                    overflow-y: auto;
                }
            }

            .right {
                position: absolute;
                top: -100px;
                right: 0;
            }
        }
    }

    .masters {
        margin-right: 120px;
        margin-bottom: 30px;
        padding-top: 170px;
        font-size: 0;
        overflow: hidden;
        white-space: nowrap;

        &.min-masters {
            display: none;
        }

        .title {
            position: relative;
            text-align: center;
            font-size: 32px;
            color: #020202;
            letter-spacing: 0.3em;

            &::before {
                position: absolute;
                top: -150px;
                left: 50%;
                width: 1px;
                height: 110px;
                content: '';
                background: #7b7b7b;
            }
        }

        .en {
            margin-bottom: 50px;
            font-size: 14px;
            line-height: 30px;
            color: #bebebe;
            text-align: center;
        }

        .slides li {
            display: inline-block;
            width: 25%;
            padding: 0 10px;
            box-sizing: border-box;

            img {
                width: 100%;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            .acad-title {
                position: relative;
                margin-top: 33px;
                font-size: 14px;
                color: #ac793c;
                line-height: 33px;

                &::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 20px;
                    height: 1px;
                    background: #ad793c;
                }
            }

            .name {
                margin-bottom: 30px;

                .cn {
                    font-size: 26px;
                    color: #000;
                }

                .en {
                    font-size: 16px;
                    color: #999;
                }

                .family-name {
                    margin-right: 10px;
                }
            }
        }
    }

    .link {
        margin-bottom: 145px;
    }

    .common-introduce {
        .culture {
            padding-left: 32px;
            background: url(../images/book.png) left center no-repeat;
        }

        .art {
            padding-left: 32px;
            background: url(../images/art.png) left center no-repeat;
        }

        .family {
            padding-left: 32px;
            background: url(../images/family.png) left top no-repeat;
        }
    }

    .talent {
        position: relative;
        margin-top: 190px;
        margin-left: 15px;
        margin-right: 120px;
        margin-bottom: 35px;
        padding-left: 15px;
        padding-right: 30px;
        text-align: center;

        .title {
            font-size: 32px;
            color: #020202;
            letter-spacing: 0.2em;

            &:before {
                position: absolute;
                top: -130px;
                left: 50%;
                width: 1px;
                height: 110px;
                content: '';
                background: #333;
            }
        }

        .en {
            margin-bottom: 60px;
            line-height: 28px;
            font-size: 14px;
            color: #a3a3a3;
        }

        .info {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            margin-left: 15px;
            margin-right: 30px;

            img.bg {
                width: 100%;
                height: 557px;
            }

            ul {
                position: absolute;
                font-size: 0;
                top: 0;
                left: 25px;
                right: 55px;
                padding-top: 81px;
                padding-bottom: 140px;
                white-space: nowrap;

                li {
                    position: relative;
                    display: inline-block;
                    width: 25%;
                    padding-left: 25px;
                    padding-right: 20px;
                    height: 100%;
                    overflow: hidden;
                    white-space: normal;
                    font-size: 16px;
                    color: #fff;
                    box-sizing: border-box;
                    text-align: left;
                    line-height: 28px;
                    vertical-align: middle;

                    &.active {
                        background: rgba(0, 0, 0, 0.2);
                    }

                    .img {
                        padding-right: 20px;
                        text-align: center;
                    }

                    .title {
                        margin-top: 15px;
                        font-size: 30px;
                        color: #fff;
                    }

                    a {
                        display: block;
                        text-align: center;
                        font-size: 30px;
                        color: #fff;

                        .img {
                            padding-right: 0;
                            margin-bottom: 28px;
                        }
                    }

                    &:after {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        content: '';
                        border-right: 1px dotted #fff;
                    }

                }
            }

            .link {
                position: absolute;
                bottom: 45px;
                margin-top: 0;
                margin-bottom: 0;
                width: 100%;
                text-align: center;

                a {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .top-info .logo {
        padding-left: 22px;
        padding-top: 25px;
    }
    .top-info .title{
        margin-top: -84px;
    }
    .about-us .navs {
        transform: translate(-50%, 30%);
    }
    .common-introduce {
        position: relative;
        height: 340px;
        margin-right: 10px;
        padding-bottom: 160px;
        padding-left: 10px;
        background: #f9f8f8;
    }
    .about-us {
        .page-top {
            .top-info {
                .logo {
                    img {
                        margin-left: 0;
                    }
                }
            }

            img {
                margin-left: -100px;
            }

            h2 {
                img {
                    margin-left: 0;
                }
            }
        }

        .navs {

            a.master,
            a.talent,
            a.history {
                display: none;
            }
        }

        .brand {
            margin-left: 0;
            margin-right: 0;
            padding-top: 65px;

            .title {
                &:before {
                    display: none;
                }
            }

            .left {
                width: 100%;
            }

            .right {
                position: static;
                width: 100%;
                padding-top: 55px;
                padding-left: 55px;
                padding-right: 40px;

                .text-info {
                    height: 215px;
                }

                .signature {
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 27px;
                }
            }
        }

        .brand-culture {
            margin-top: 0;
            margin-right: 0;

            .title-wrap {
                margin-left: 0;
                text-align: center;

                .title {
                    &:after {
                        display: none;
                    }
                }
            }

            .culture-content {
                height: auto;
                .left {
                    margin-top: 610px;
                    .sub-title {
                        margin-bottom: 20px;
                    }
                    .info {
                        width: 100%;
                        margin-bottom: 0;
                        margin: 0 10px;
                    }
                }

                .right {
                    top: -590px;
                }

                // .info {
                //     width: 100%;
                //     height: 260px;
                //     margin-bottom: 120px;
                //     margin-left: 70px;
                //     overflow-y: auto;
                // }
            }
        }

        .masters {
            display: none;
            padding-top: 50px;
            margin-right: 0;

            &.min-masters {
                display: block;
                position: relative;

                .slides li {
                    display: block;
                    text-align: center;

                    // margin: 0 75px;
                    img {
                        width: 242px;
                        height: 337px;
                    }
                }

                .flex-control-nav {
                    bottom: 5px;
                }

                .flex-direction-nav {
                    position: absolute;
                    top: 50%;
                    left: 50px;
                    right: 50px;
                }

                .flex-direction-nav li a {
                    display: inline-block;
                    width: 49px;
                    height: 49px;
                }

                .flex-direction-nav li:last-child {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .flex-direction-nav li:nth-of-type(1) a {
                    background: url(../images/cont-left.png) center no-repeat;
                    background-size: 49px 49px;
                }

                .flex-direction-nav li:nth-of-type(2) a {
                    background: url(../images/cont-right.png) center no-repeat;
                    background-size: 49px 49px;
                }
            }

            .title {
                &::before {
                    display: none;
                }
            }
        }

        .link {
            margin-bottom: 30px;
        }

        .common-introduce {
            .left {
                padding-top: 35px;
                margin: 0 auto;
                width: 200px;
                .title {
                    &:before {
                        display: none;
                    }
                }
                .left-bottom{
                    display: none;
                }
            }

            .right {
                padding-right: 10px;
                padding-left: 10px;
                margin-left: 10px;
                margin-right: 10px;
                right: 0;
                width: auto;
                padding-top: 20px;
                padding-bottom: 20px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;

                .date,
                .divider {
                    display: none;
                }
            }
        }

        .talent {
            margin-right: 0;
            margin-left: 0;
            padding-right: 15px;
            margin-top: 50px;

            .title:before {
                display: none;
            }

            .info {
                margin-left: 0;
                height: 455px;

                img.bg {
                    height: 100%;
                }

                ul {
                    padding-top: 35px;

                    li {
                        display: block;
                        width: 355px;
                        padding-bottom: 30px;
                        margin: 0 auto;
                        border-bottom: 1px dotted #fff;

                        &:after {
                            display: none;
                        }

                        &.min-none {
                            display: none;
                        }

                        a {
                            div {
                                &.img {
                                    margin-bottom: 0;
                                }

                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
    .about-us .masters .slides li .acad-title, .about-us .masters .slides li .name{
        width: 242px;
        margin: 33px auto;
        margin-bottom: 0;
        text-align: left;
    }
    .about-us .masters .slides li .name{
        margin-top: 5px;
    }
    .about-us .masters.min-masters .flex-control-nav{
        display: none;
    }
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
    .about-us {
        .navs {
            top: 30%;
        }

        .brand {
            padding-top: 15px;
            margin-right: 0;

            .right {
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 40px;

                .text-info {
                    height: 190px;
                }

                .signature {
                    margin-top: 45px;
                    margin-bottom: 28px;
                }
            }
        }

        .brand-culture {
            margin-right: 0;
            background-size: 245px 185px;

            .title-wrap {
                margin-left: 230px;

                .img {
                    left: -50px;
                    top: 10px;

                    img {
                        width: 30px;
                        height: 32px;
                    }
                }

                .title {
                    font-size: 26px;

                    &::after {
                        width: 90px;
                    }
                }
            }

            .culture-content {
                height: auto;

                .left {
                    .sub-title {
                        margin-top: 30px;
                        margin-bottom: 5px;
                        font-size: 22px;
                    }

                    .info {
                        width: 335px;
                        height: 190px;
                    }
                }

                .right {
                    top: -25px;

                    img {
                        width: 572px;
                        height: 311px;
                    }
                }
            }
        }

        .masters {
            margin-right: 0px;
            padding-top: 100px;
            position: relative;
            .title {
                &::before {
                    top: -80px;
                    height: 70px;
                }
            }

            .slides li {
                width: 33%;
            }
        }

        .talent {
            margin-top: 120px;
            margin-left: 0;
            margin-right: 0;

            .title {
                font-size: 24px;

                &:before {
                    top: -100px;
                    height: 85px;
                }
            }

            .info {
                margin-left: 0;

                ul {
                    li {
                        width: 33%;

                        .title {
                            font-size: 27px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1910px) {
    .about-us {
        .navs {
            top: auto;
        }

        .brand {
            .brand-info {
                .right {
                    padding-top: 25px;
                    padding-left: 85px;
                    padding-right: 85px;

                    .text-info {
                        height: 240px;
                    }

                    .signature {
                        margin-top: 32px;
                        margin-bottom: 21px;
                    }
                }
            }
        }

        .brand-culture {
            background-size: 235px 239px;
            line-height: 38px;

            .culture-content {
                height: auto;

                .left {
                    .sub-title {
                        margin-top: 60px;
                        margin-bottom: 5px;
                        font-size: 20px;
                    }

                    .info {
                        height: 220px;
                        width: 435px;
                        margin-bottom: 15px;
                    }
                }

                .right {
                    top: -30px;

                    img {
                        widows: 566px;
                        height: 308px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1910px) {
    .about-us {
        .masters {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}