.news-list {
    overflow: hidden;
    .zsp1-640{
        display: none;
    }
    .page-top {
        .top-info {
            height: 100vh;
            .title {
                .links {
                    margin-top: 20px;
                    text-align: center;
                    background: transparent;

                    a {
                        display: inline-block;
                        margin-right: 40px;
                        color: #cfcfcf;
                        font-size: 20px;
                        text-align: center;

                        &:last-child {
                            margin-right: 0;
                        }

                        span {
                            display: block;
                        }

                        em {
                            display: inline-block;
                            width: 17px;
                            height: 9px;
                            background: url(../images/down.png) center no-repeat;
                        }
                    }
                }
            }
        }
    }
    .nav-bar{
        right: 0;
    }

    .news-content {
        padding-left: 23px;
        padding-top: 15px;
        margin-right: 120px;
        background: #fff;
        .hot {
            li {
                position: relative;
                margin-right: 15px;
                margin-bottom: 100px;
                height: 872px;

                &:nth-of-type(odd) .left,
                &:nth-of-type(even) .right {
                    display: inline-block;
                    width: 1264px;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &:nth-of-type(even) .left,
                &:nth-of-type(odd) .right {
                    padding: 50px;
                    width: 560px;
                    height: 550px;
                    background: #fff;
                    box-sizing: border-box;

                    h3 {
                        font-size: 24px;
                        color: #333;
                    }

                    .info-content {
                        margin-top: 35px;

                    }

                    p {
                        font-size: 14px;
                        color: #666;
                        line-height: 30px;
                    }
                }

                .right {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 1264px;
                }

                &:nth-of-type(even) {
                    height: 661px;
                }

                &:nth-of-type(even) .left {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 3;

                    .left-info {
                        height: 185px;
                        overflow-y: auto;
                    }

                    h3 {
                        margin-bottom: 70px;
                    }

                    p {
                        margin-top: 5px;
                        margin-bottom: 30px;
                        text-indent: 26px;
                    }

                    .link {
                        margin-top: 90px;
                    }
                }
            }
        }

        .list {
            font-size: 0;

            li {
                position: relative;
                display: inline-block;
                padding: 0 15px;
                width: 25%;
                box-sizing: border-box;
                margin-bottom: 28px;
                min-height: 370px;
                font-size: 20px;
                color: #333;

                &:first-child {
                    padding-left: 0;
                }

                &:nth-of-type(4n) {
                    padding-right: 0;
                }

                .inner {
                    height: 369px;
                    border-bottom: 1px solid #7f7f7f;
                }

                .img {
                    display: block;
                    width: 100%;
                    height: 309px;
                }

                span {
                    display: inline-block;
                    width: 70%;
                    height: 60px;
                    line-height: 60px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .news-icon {
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    width: 23px;
                    height: 29px;
                    z-index: 9;
                }
            }
        }

        .pagination {
            margin-top: 70px;
            margin-bottom: 100px;
        }
    }
}

@media screen and (max-width: 980px) {
    .top-info .logo {
        padding-left: 22px;
        padding-top: 25px;
    }
    .news-list {
        .zsp1{
            display: none;
        }
        .zsp1-640{
            display: block;
            width: 100%;
        }
        .page-top{
            position: relative;
            .top-info{
                height: 100%;
            }
        }
        .news-content {
            padding-top: 15px;
            padding-right: 15px;
            padding-left: 15px;
            margin: 0;
            background: #fff;
            .hot {
                display: none;
            }
            .list{
                li{
                    width: 50%;
                    min-height: 182px;
                    .inner{
                        height: 182px;
                    }
                    .img{
                        height: 122px;
                    }
                    &:nth-of-type(2n){
                        padding-right: 0;
                    }
                    span{
                        width: 100%;
                    }
                    .news-icon{
                        display: none;
                    }
                }
            }
            .pagination{
                margin-bottom: 60px;
            }
        }
    }
    .news-list .news-content .list li:nth-of-type(2n+1){
        padding-left: 0;
    }
}

@media screen and (min-width: 640px) and (max-width: 980px) {
    .news-list .news-content .list li .img{
        height: 222px;
    }
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
    .news-list {
        .news-content {
            margin-right: 0;
            .hot {
                li {
                    height: 462px;
                    margin-right: 0;
                    &:nth-of-type(odd) .left,
                    &:nth-of-type(even) .right {
                        width: 672px;
                        height: 462px;
                    }
                    &:nth-of-type(even) {
                        height: 462px;
                    }
                    &:nth-of-type(even) .left,
                    &:nth-of-type(odd) .right {
                        padding: 30px;
                        width: 384px;
                        height: 290px;
                        h3{
                            font-size: 18px;
                            margin-bottom: 35px;
                            &.mb0{
                                margin-bottom: 0;
                            }
                        }
                        .info-content{
                            margin-top: 18px;
                            height: 150px;
                            overflow-y: auto;
                        }
                        .left-info{
                            height: 137px;
                        }
                        .link{
                            margin-top: 28px;
                        }
                    }
                }
            }
            .list{
                font-size: 0;
                li{
                    width: 33%;
                    min-height: 288px;
                    .inner{
                        height: 288px;
                    }
                    .img{
                        height: 228px;
                    }
                }
            }
        }

    }

}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
    .news-list {
        .news-content {
            margin-left: 15px;

            .hot {
                li {
                    margin-right: 15px;
                    height: 528px;

                    &:nth-of-type(odd) .left,
                    &:nth-of-type(even) .right {
                        max-width: 765px;
                        height: 528px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:nth-of-type(even) .left,
                    &:nth-of-type(odd) .right {
                        height: auto;
                        .info-content {
                            height: 160px;
                            overflow-y: auto;
                        }
                    }

                    &:nth-of-type(even) {
                        height: 400px;

                        .left {
                            width: 392px;
                            padding-left: 15px;
                            padding-bottom: 0;

                            h3 {
                                margin-bottom: 45px;
                            }

                            .link {
                                margin-top: 30px;
                                margin-bottom: 15px;
                            }

                            .left-info {
                                height: 165px;
                            }
                        }

                        .right {
                            height: 100%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .list {
                li {
                    min-height: 248px;

                    .inner {
                        height: 248px;
                    }

                    .img {
                        height: 188px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .news-list {
        .news-content {
            .hot {
                li {
                    height: 872px;

                    &:nth-of-type(odd) .left,
                    &:nth-of-type(even) .right {
                        display: inline-block;
                        width: 1264px;
                        height: 100%;
                        max-width: 1264px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:nth-of-type(even) .left,
                    &:nth-of-type(odd) .right {
                        width: 658px;
                        height: auto;
                        right: 0;
                        box-sizing: border-box;
                        .left-info{
                            height: 365px;
                            overflow-y: auto;
                        }
                        .info-content{
                            height: 290px;
                        }
                    }

                    &:nth-of-type(even) {
                        height: 661px;
                    }
                }
            }

            .list {
                padding-right: 15px;
                li {
                    .inner {
                        height: 369px;
                    }

                    .img {
                        height: 309px;
                    }
                }
            }
        }
    }
}